# Ignore PHPStorm project files
.idea

# Ignore MacOS cache files
.DS_STORE

# ignore tooling installed via phive
tools

# ignore PHPUnit result cache
.phpunit.result.cache

# Ignore composer libs
/vendor/
/composer.lock

# Ignore the build directory
/build
